
@{
    ViewData["Title"] = "Home";
}

<div class="row mt-5">
    <table class="table table-striped table-bordered table-dark table-responsive">
        <thead>
            <tr>
                <th class="align-top">Activity</th>
                <th class="align-top">Date and Time</th>
                <th class="align-top">Duration</th>
                <th class="align-top">Event Coordinator</th>
                <th class="align-top">Number of Participants</th>
                <th class="align-top text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>
</div>
<div class="row">
    <div class="col-12 text-right">
        <a href="/New" class="btn btn-dark">Add New Record</a>
    </div>
</div>
